<h2 id="user">Welcome <%= user.email %>!</h2>
<div class="wrapper">
    <div class="create workspaces">
        <div id="add">+</div>
        <div id="create">Create</div>
        <div id="join">Join</div>
    </div>
</div>