<form action="/login" method="post">
	<label for="email">Email</label>
	<input type="text" name="email" id="email" />
	<label for="password">Password</label>
	<input type="password" name="pwd" id="password" />
	<button type="submit">Log In</button>
    <input type="password" name="pwd" id="password" />
	<button type="submit">Log In</button>
</form>
</form>