<h2 id="ws_name">Welcome to <%= ws.name %>!</h2>
<div class="wrapper">
    <%= for ws <- wtf do %>
        <div class="workspaces" id="<%= ws.id %>">
            Company: <%= ws.company %>
            <br />
            Workspace: <%= ws.name %>
        </div>
    <% end %>
    <div class="create workspaces">
        <div id="add">+</div>
        <div id="create">Create</div>
        <div id="join">Join</div>
    </div>
</div>