<h2 id="ws_name">Welcome to <%= ws.name %>!</h2>

<div class="wrapper">
	<%= for gp <- gps do %>
        <div class="workspaces" id="<%= gp.id %>">
            Company: <%= gp.company %>
            <br />
            Workspace: <%= gp.name %>
        </div>
    <% end %>
    <div class="create group">
        <div id="add">+</div>
    </div>
</div>