<h2>Welcome to <%= ws.company %>!</h2>

<div class="wrapper">
	<%= for gp <- gps do %>
        <div class="workspaces" id="<%= gp.id %>">
            Workspace: <%= ws.name %>
            <br />
            Group: <%= gp.name %>
        </div>
    <% end %>
    <div class="create group">
        <div id="add">+</div>
    </div>
</div>